{{ $postcard_image := .Params.postcard_image }}
{{ $featured_image := .Params.featured_image }}

{{ $featured_image_alt := .Params.featured_image_alt }}
{{ $postcard_image_alt := .Params.postcard_image_alt }}



<div class="mb-4 bg-white flex flex-wrap content-center">


  <div class="m-0 px-6 md:px-12 py-6 md:py-12 md:w-1/2 {{ if not $postcard_image }}w-100{{ end }}">

    <a class="" href="{{ .Permalink }}">

      <span class="text-cccblue post-meta pb-4">{{ .Date.Format "Jan 2, 2006" }}</span>

    <h2 class="text-3xl pb-6 leading-tight no-underline text-cccred">
      {{ .Title }} {{ if .Draft }}(draft){{end}}
    </h2>



    {{ .Params.postcard_summary }}
    {{/* {{ .Content }} */}}

    <div class="underline pt-2">
      Read more
    </div>

    {{ $baseurl := .Site.BaseURL }}
    <p class="post-meta">{{ i18n "tags" }}
      {{/* :&nbsp; */}}
      {{ range $i, $e := .Params.tags }}
      {{if $i}}
      &nbsp;/&nbsp;
      {{end}}
      {{/* <a class="white" href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . }}"> */}}
      {{ . }}
      {{/* </a> */}}
      {{ end }}
    </p>

    </a>

  </div>



  {{ if $postcard_image }}


{{ with .Params.postcard_image }}
{{ $imageResource := ($.Site.GetPage "section" "images").Resources.GetMatch (strings.TrimPrefix "/images/" . ) }}
{{ $resizedsm := $imageResource.Resize "640x" }}

<div class="md:w-1/2 py-0 md:py-12 m-0">
  <img class="p-0 m-0" alt="{{ $postcard_image_alt }}" src="{{ $resizedsm.RelPermalink }}">
</div>

{{ end }}





 {{ else }}
 
 
 {{ with .Params.featured_image }}
 {{ $imageResource := ($.Site.GetPage "section" "images").Resources.GetMatch (strings.TrimPrefix "/images/" . ) }}
 {{ $resizedsm := $imageResource.Resize "640x" }}
 
 <div class="md:w-1/2 py-0 md:py-12 m-0">
   <img class="p-0 m-0" alt="{{ $featured_image_alt }}" src="{{ $resizedsm.RelPermalink }}">
 </div>
 


  {{ end }}

{{ end }}



  </div>
