<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#141414"
    },
    "button": {
      "background": "#0a3a49"
    }
  },
  "theme": "edgeless",
  "position": "bottom-right",
  "content": {
    "href": "/cookies"
  }
})});
</script>
