<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="karla cccblack">

  {{ partial "header.html" . }}

  {{ block "here" . }}
  {{ end }}

  <main role="main">
    {{ block "main" . }}
    {{ end }}
  </main>

  {{ partial "footer.html" . }}

  {{ block "footerextra" . }}
  {{ end }}

{{ $menuconfig := resources.Get "js/menu.js" }}
{{ $concatjs := slice $menuconfig | resources.Concat "js/bundle.js" | resources.Minify }}
{{ $secureJS := $concatjs | resources.Fingerprint "sha512" }}



</body>
</html>
