{{ define "main" }}

<article id="content" role="article">

  <div >

    {{ $secondary_image := .Params.secondary_image }}
    {{ if $secondary_image }}
    <div>

      <div>
        <h1>{{ .Title }}</h1>

        {{ if .Params.Subhead }}
        <h2>{{ .Params.Subhead }}</h2>
        {{ end }}

        {{ if .Params.intro_text }}
        <p>{{ .Params.intro_text | markdownify }}</p>
        {{ end }}
      </div>

      <div>
        <div>
          {{ partial "secondaryimage.html" . }}
        </div>
      </div>
    </div>
    {{ end }}

    <div>
      <div>

        {{ if not $secondary_image }}
        <h1>{{ .Title }}</h1>
        {{ if .Params.Subhead }}
        <h2>{{ .Params.Subhead }}</h2>
        {{ end }}
        {{ end }}

        {{ .Content }}
        
      </div>
    </div>
    

</article>
{{ end }}
