<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src *; font-src 'self' data: fonts.gstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/ http://cdnjs.cloudflare.com http://cdn-images.mailchimp.com; script-src * 'unsafe-inline' 'unsafe-eval'"
  />

  <title>
    {{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="author" content="Philip Deeker">
  <meta name="description" content="{{ .Params.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/images/icons/site.webmanifest">
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#4985A3">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" />

  {{ partial "seo_schema" . }}

  {{ range .AlternativeOutputFormats -}} {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}

  {{ if .Site.IsServer }}

  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  {{ else }}

  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="google-site-verification" content="tjF644u12Cw6HHYL3QV93xlKZFzdjHnKyM3Gury7v" />
  <meta name="msvalidate.01" content="421D33DB11E1614C2EAB566B482094B7" />
  {{ partial "analytics" . }}
  {{ partial "cookie_popup" . }}
  {{ end }}
</head>
