{{ range  $.Site.Data.events2022 }}
{{ $eventtitle := .event_title }}

{{ range .stages }}
{{ if .make_public }}
{{ $stageimgalt := .stage_image_alt }}

<div class="w-full sm:w-1/2 md:w-1/3 mb-4 px-2">
  <div class="relative">

    {{ if .stage_image }}

    {{ with .stage_image }}
        {{ $imageResource := ($.Site.GetPage "section" "images").Resources.GetMatch (strings.TrimPrefix "/images/" . ) }}
        {{ $resized := $imageResource.Resize "800x" }}
        <picture class="block">
          <img class="w-screen" alt="{{ $stageimgalt }}" src="{{ $resized.RelPermalink }}" />
        </picture>
    {{ end }}


    {{/* <picture class="block">
      <img class="block" src="{{ .stage_image }}" alt="{{ with .stage_image_alt }}{{ . }}{{ end }}">
    </picture> */}}
    {{/* <span class="text-white">{{ .stage_image }}</span> */}}



    {{ end }}

    {{ if eq .theme "Red" }}{{ end }}
    {{ if eq .theme "Blue" }}{{ end }}
    {{ if eq .theme "White" }}{{ end }}
    {{ if eq .theme "Transparent" }}{{ end }}

    <div class="p-4 {{ if eq .theme "Red" }}bg-cccred text-white{{ end }}{{ if eq .theme "Blue" }}bg-cccblue text-white{{ end }}{{ if eq .theme "Transparent" }}text-white border bg-none{{ end }}{{ if eq .theme "White" }}bg-white{{ end }}">

      {{/* <h3 class="text-lg font-bold">
        <a class="stretched-link" href="#" title="Card 1">
          Card 1
        </a>
      </h3>

      <time class="block mb-2 text-sm text-gray-600" datetime="2019-01-01">1st January 2019</time>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p> */}}

      {{/* {{ with .make_public }}
      <p class="">{{ . }}</p>
      {{ end }} */}}

      {{/* {{ if eq .theme "White" }}text-ccccyan{{ end }} */}}


      <h4 class="text-cccwhite">{{ $eventtitle }}&mdash;{{ .Stage |safeHTML }}</h4>
      <h3 class="text-white text-3xl md:pb-4{{ if eq .theme "White" }} text-cccred{{ end }}">{{ .Locations |safeHTML }}</h3>

      {{/* {{ with .Locations | safeHTML }}
      <h3 class="text-cccwhite text-3xl md:pb-4">{{ . }}</h3>
      {{ end }} */}}
      {{ with .Stats }}
      <p class="pb-2 md:text-xl">{{ . }}</p>
      {{ end }}
      {{ with .Mainclimbs }}
      <p class="pb-2"><span class="italic">Main climbs:</span><br> {{ . }}</p>
      {{ end }}
      {{ with .Description }}
      <p class="">{{ . }}</p>
      {{ end }}

      {{ with .stage_map }}
        <a href="{{ . }}" class="text-cccwhite pt-4 inline-block border-b border-cccwhite">View the map</a>
      {{ end }}

      {{/* {{ if .event_title }}
        *
      {{ end }} */}}

      {{/* {{ with .theme }}
      {{ . }}
      {{ end }} */}}



      {{/* {{ if .stage_image_alt }}{{ . }}{{ end }} */}}

    </div>
  </div>
</div>

{{ else }}

<div class="flex-1 w-full sm:w-1/2 md:w-1/3 mb-4 px-2">
  <div class="relative opacity-25">
    <div class="py-24 border flex flex-col items-center">

      <div class="opacity-50">
        {{ readFile "/images/logo/ccc-kom-logo-w.svg" | safeHTML }}
      </div>

      {{ with .Stage }}
        <h4 class="pt-4 text-white ">{{ . }}</h4>
      {{ end }}

    </div>
  </div>
</div>

{{ end }}
{{ end }}
{{ end }}
