{{ define "main" }}
{{ $featured_image := .Params.featured_image }}

<article id="content" role="article">



  <div class="copy text-cccblack bg-white">
    <div class="mx-auto max-w-3xl px-6 py-4 md:py-12">

      <h1 class="f2 f1-l fw5 lh-title">404 Page not found, sorry.</h1>

      <p class="tl">Please <a class="ccccyan dim" href="mailto:info@centcolschallenge.com">email Phil</a> for any questions.
      You can find us on <a class="ccccyan dim" href="https://www.facebook.com/philip.deeker">Facebook</a> and <a class="ccccyan dim" href="https://www.instagram.com/centcolschallenge/">Instagram</a> plus for all the latest news, please join the <a class="ccccyan dim"
        href="/contact">mailing list</a>.</p>
    </div>
  </div>

</article>
{{ end }}
